html, body {
   height:100%;
   width: 100%;
   min-width: 320px;
   padding: 0;
   margin: 0;
   border: 0;
   font-family: sans-serif;
}

.content {
    min-width: 320px;
    width: 100%;
    height: 100%;
}

.search-widget {
    position: relative;
    top: 40%;
    /*display: none;*/
    max-width: 80%;
    min-width: 320px;
    padding: 15px;
    margin: auto;
    text-align: center;
    z-index: 0;
}

.search-widget button {
    display: block;  
    height: 2.5rem;
    padding: 0.3rem 1rem;
    margin: 10px auto;  
    border: 2px solid lightblue;
    border-radius: 4px;
    color: lightblue;
    font-size: 12pt;
    line-height: 1rem;
    background: transparent;
}

.search-widget input {
    position: relative;
    width: 100%;
    height: 2.5rem;
    display: block;
    margin: auto;
    border: none; 
    font-size: 16pt;
    color: lightblue;
    text-align: center;
    outline: none;
}


.lightbox-wrapper {
    display: none;
    position: fixed;
    /*display: block;*/
    width: 100%;
    min-width: 320px;
    height: 100%;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

/* pseudo element that helps vertical align the lightbox */
.lightbox-wrapper:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.lightbox {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    width: 60%;
    border: 2px solid white;
    border-radius: 4px;
}

.lightbox img {
    width: 100%;
    display: inline-block;
}

.img-title {
    color: black;
    text-align: left;
    padding: 0 5px;
    font-size: 10pt;
    line-height: 1rem;
    max-height: 3rem;
    overflow: hidden;
    word-wrap: break-word;
}

.prev-page {
    position: fixed;
    z-index: 200;
    width: 40px;
    height: 100%;
    top: 0;
    left: 0;
    background: url('./img/left_arrow.png') no-repeat center;
}

.next-page {
    position: fixed;
    z-index: 200;
    width: 40px;
    height: 100%;
    top: 0;
    right: 0;
    background: url('./img/right_arrow.png') no-repeat center;

}


