html, body {
   height:100%;
   width: 100%;
   min-width: 320px;
   padding: 0;
   margin: 0;
   border: 0;
   font-family: sans-serif;
}

.content {
    min-width: 320px;
    width: 100%;
    height: 100%;
}

.search-widget {
    position: relative;
    top: 40%;
    /*display: none;*/
    max-width: 80%;
    min-width: 320px;
    padding: 15px;
    margin: auto;
    text-align: center;
    z-index: 0;
}

.search-widget button {
    display: block;
    height: 2.5rem;
    padding: 0.3rem 1rem;
    margin: 10px auto;
    border: 2px solid #6CCDEC;
    border-radius: 4px;
    color: #6CCDEC;
    font-size: 12pt;
    line-height: 1rem;
    background: transparent;
}

.search-widget input {
    position: relative;
    width: 100%;
    height: 2.5rem;
    display: block;
    margin: auto;
    border: none; 
    font-size: 16pt;
    color: #6CCDEC;
    text-align: center;
    outline: none;
}

[placeholder] {
    text-overflow: ellipsis;
}

.error {
    color: #EF8080;
}

.fade-out-anime {
    animation: fade-out 3s;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.lightbox-wrapper {
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: 100%;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}


.lightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 4px;
    height: 100%;
    margin: 0 auto;
}

.lightbox:before {
    content: ' ';
    flex-shrink: 0;
    width: 100%;
    order: 1;
    display: block;
    flex-basis: 20px;
}

.lightbox:after {
    content: ' ';
    flex-shrink: 0;
    width: 100%;
    align-self: center;
    flex-basis: 20px;
    order: 3;
}

.lightbox img {
    display: inline-block;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    order: 2;
}

.caption {
    color: white;
    text-align: left;
    padding: 0 5px;
    font-size: 12pt;
    line-height: 1.7rem;
    overflow: hidden;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.85); */
    position: fixed;
    bottom: 0px;
    text-overflow: ellipsis;
    height: 1.8rem;
    white-space: nowrap;
    /* text-align: center; */
    margin: 5px 10px;
    width: 80%;
}

.caption .username {
    font-weight: 600;
    color: #6CCDEC;
}

.prev-page {
    position: fixed;
    z-index: 200;
    width: 50px;
    height: 100%;
    top: 0;
    left: 0;
    background: url('./img/left_arrow.png') no-repeat center;
}

.next-page {
    position: fixed;
    z-index: 200;
    width: 50px;
    height: 100%;
    top: 0;
    right: 0;
    background: url('./img/right_arrow.png') no-repeat center;
}

.close {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: url('./img/close.png') no-repeat center;
    z-index: 200;
}

.disabled {
    background: none;
}


